/* Stylesheet für die Musterlösungen der Aufgabe 1 */ 

/* links sind grün und linie über und unter dem link */ 
a { 
	color: #01DF01; 
	text-decoration: overline underline; 
}

/* zeilen der tabelle sollen grau werden */ 
table, td, tr{ 
	border-color: #696969;
}

/* generelle Eigenschaften der Tabellen: keine doppelten rahmen;
3 px breite rahmen, restliche innen liegenden linien nur normale breite */
table { 
	border-collapse: collapse;  
	border-width: 3px; 
}

/* eigenschaften von tabellen header: ; */ 
th { 
	background-color: green; 
	color: white; 
	font-weight: bold; 
}

/* alle texte des bodys sollen serifenfrei sein */ 
body { 
	font-family: "Lucida Sans", "Arial", sanf-serif; 
}

ul { 
	list-style-type: none; 
	margin: 0; 
	padding: 0; 
	overflow: hidden; 
	background-color: #333;
	border-radius: 10px;
}

li { 
	float: left;  
} 

li a, .dropbtn{ 
	display: inline-block; 
	color: white; 
	text-align: center; 
	padding: 14px 16px; 
	text-decoration: none; 
	border-radius: 10px;
} 

li a:hover, .dropdown:hover .dropbtn {
	background-color: red; 
}

li.dropdown {
	display: inline-block; 
}

.dropdown-content {
	display: none;
	position: absolute;
   	background-color: #f9f9f9;
    	min-width: 160px;
    	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    	z-index: 1; 
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

li:last-child {
	border-right: none; 
} 

.active {
	background-color: #4CAF50; 
} 
